//
   Created by User on 4.2.2016 г..
block head

    head
        meta(charset="UTF-8")
        title Книги
        meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
        meta(http-equiv="Content-Language" content="BG")
        link(href = "http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css" rel = "stylesheet")
        link(href = "stylesheets/adminPanel.css" type = "text/css" rel = "stylesheet")

block content
    body
        .nav
            h3 Администратор

        .navigation
            .menu
                ul
                    li
                        a(href="adminPanelAddBook.html") Добави нова книга
                    li
                        a(class="selected" href="adminPanelBooks.html") Книги
                    li
                        a(href="adminPanelUsers.html") Потребители
                    li
                        a(href="adminPanelSettings.html") Настройки
                    li
                        a(href="/logout") Изход

        .books
            h3 Налични книги

            table
                tr
                    form(action="searchBook" method="post")
                        td
                            label(for="nameOfBook") Име на книга:
                        td
                            input(type="text" placeholder="Име на книга" id="nameOfBook" name="enterNameOfBook" size="30")
                        td
                            input(type="submit" value="Намери")

                tr
                    form(action="deleteBook" method="post")
                        td
                            label(for="id") № на книга:
                        td
                            input(type="text" placeholder="№ на книга" id="id" name="id" size="30")
                        td
                            input(type="submit" value="Изтрий")

                tr
                    form(action="adminPanelBooks" method="post")
                        td
                            input(type="submit" value="Изведи всички")

            table
                thead
                    tr
                        th №
                        th Книга
                        th Автор
                        th Година
                        th Жанр
                        th Издателство
                        th Корица
                        th Описания
                tbody
                    - each item in rows
                        tr
                            td= item.book_id
                            td= item.book_name
                            td= item.book_author
                            td= item.book_year
                            td= item.book_genre
                            td= item.book_publisher
                            td
                                img(src="../images/" + item.book_cover)
                            td= item.book_description